################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Publicaciones/.vs/Publicaciones/FileContentIndex/4a2fbfa1-61ea-49ff-b6d4-20e6e49490f7.vsidx
/Publicaciones/.vs/Publicaciones/FileContentIndex/733492f8-c988-4eaf-9a83-657bf69d0225.vsidx
/Publicaciones/.vs/Publicaciones/FileContentIndex/ab315afc-24b3-43e7-a17d-5b6d0bcdd71e.vsidx
/Publicaciones/.vs/Publicaciones/FileContentIndex/859ff020-42c1-4c90-a0dc-c8cc377a5af9.vsidx
/Publicaciones/.vs/Publicaciones/FileContentIndex/b0f1681a-2409-4b9d-ac81-7a997f8a5249.vsidx
