################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Publicaciones/.vs/Publicaciones/FileContentIndex/4a2fbfa1-61ea-49ff-b6d4-20e6e49490f7.vsidx
